

 
<h1>L'aide</h1>

<ul>
    <li>Quand vous cliquez sur "Fichier":
        <ul>
            <li>vous pouvez enregistrer le fichier grâce au boutton Enregistrer Sous ...</li>
            <li>vous pouvez quittez l'application grâce au boutton "Quitter"</li>
    
        </ul>
    </li>
</ul>

<ul>
    <li>Quand vous cliquez sur "Aide":
        <ul>
            <li>vous avez accès à l'aide et à la page "À propos" dans laquelle vous pouvez connaitre les noms des
            développeurs derrière ce micro-projet. </li>
           
        </ul>
    </li>
</ul>

 </li>


